# Core Web Server
flask
flask_cors
requests

# AI Grading & RAG
sentence-transformers
numpy
faiss-cpu
PyPDF2
python-pptx

# Document AI / Image Parsing (OCR Support)
transformers
torch
sentencepiece
Pillow
pdf2image
timm
accelerate
